<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css} "/>
    <link rel="stylesheet" th:href="@{/css/bookImagesShoowStyle.css} "/>
    <style>
        .category{
            width: 70%;
            height: 40px;
            margin: 15px auto 15px auto;
            border-radius: 10px;
        }
        .categoryName{
            width: 20%;
            margin: 10px 25px 10px 25px;
            float: left;
            cursor: pointer;
            font-weight: bold;
            font-size: 20px;
        }



    </style>
</head>
<body>


      <div th:insert="headers::menu"></div>


      <div class="category">
          <a class="categoryName" th:href="@{/book/category/{categoryName}(categoryName='Asarlar')}">Asarlar</a>
          <a class="categoryName" th:href="@{/book/category/{categoryName}(categoryName='Darsliklar')}">Darsliklar</a>
          <a class="categoryName" th:href="@{/book/category/{categoryName}(categoryName='Jurnallar')}">Jurnallar</a>
          <a class="categoryName" th:href="@{/book/category/{categoryName}(categoryName='Maqolalar')}">Maqolalar</a>
      </div>

      <div class="bookImagesShow" th:each="list, iStat : ${list}">

          <div class="boox">
              <img class="boox-image" th:src="${list.attachID}" alt="rasm bor">
              <h5 th:text="${list.name}"></h5>
              <a th:href="@{/book/about/{bookID}(bookID=${list.id})}">Read More</a>
          </div>

      </div>










      <div style="color: black;font-weight: bold;text-align: center" th:insert="fragments::footer"></div>


</body>
</html>