<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>

        form{
            text-align: center;

        }
  label{

  }

        /* Change styles for span and cancel button on extra small screens */

    </style>

</head>
<body>

<form
    th:action="@{/profile/login}" method="POST" th:object="${profile}">

    <label  for="isim">Name</label>
    <input type="text" th:field="${profile.name}" id="isim" name="isim" placeholder="name"><br><br>

    <label  for="email">Email</label>
    <input type="email" th:field="${profile.surname}" id="email" name="sharf" placeholder="email"><br><br>

    <button type="submit"> Login</button>

</form>


</body>
</html>