<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/registerLogin.css} "/>



</head>
<body>
   <div style="width: 50%; margin: auto">
       <form  th:action="@{/profile/login}" method="POST" th:object="${profile}">

              <label  for="password">Password</label>
              <input type="password" th:field="${profile.password}" id="password" name="password" placeholder="password" required><br><br>

              <label  for="email">Email</label>
              <input type="email" th:field="${profile.email}" id="email" name="email" placeholder="email" required><br><br>

              <button type="submit"> Login>></button>

       </form>
       <br>
       <form th:action="@{/book/menu}" th:methods="GET" >
           <button type="submit"> << Menu </button>
       </form>
   </div>





</body>
</html>